@import "tailwindcss" source("../");


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: rgb(165, 101, 95);
}

@custom-variant dark {
  &:where([data-theme=dark], [data-theme=dark] *) {
    @slot
  }

  &:where([data-theme=system], [data-theme=system] *) {
    @media (prefers-color-scheme: dark) {
      @slot
    }
  }
}

@layer base {
  html[data-theme="dark"] input:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--color-gray-900) inset;
  }

  html[data-theme="light"] input:-webkit-autofill {
    box-shadow: 0 0 0 100px white inset;
  }
}

@layer components {
  .bg-diagonal-lines {
    opacity: 0.4;
    background-size: 15px 15px;
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-gray-100) 0,
      var(--color-gray-100) 1px,
      transparent 0,
      transparent 50%
    );
  }
}

@utility container {
  margin-inline: auto;
}
